// src/styles/_globals.sass
@use 'variables' as *
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap&display=optional')

// Reset básico e estilos globais
*
    margin: 0
    padding: 0
    box-sizing: border-box  // Modelo de caixa consistente

html
    overflow-x: hidden  // Previne scroll horizontal
    body
        background-color: $primary
        color: $secondary
        font:
            size: 1.2rem
            weight: 400
            family: 'Dosis', sans-serif
        text-rendering: optimizeLegibility  // Melhora renderização
        -webkit-font-smoothing: antialiased  // Suavização de fontes

ul, nav
    list-style-type: none  // Remove marcadores

a
    text-decoration: none  // Remove sublinhado padrão