// C:\MEGA\GPnet\Sistema de Imóveis\src\pages\Home\index.module.sass
.Title
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 25px 150px
.Wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    padding: 25px 150px