// C:\MEGA\GPnet\Sistema de Imóveis\src\components\Header\Menu.module.sass
@use '../../styles/variables' as v

.Container
    ul
        display: flex
        justify-content: center
        align-items: center
        li
            border: 
                size: 1px
                style: solid 
                color: v.$gray
                radius: 10px
            padding: 10px
            span
                font:
                    size: 1.2rem
                    weight: 300
            &:hover
                background-color: v.$gray
                cursor: pointer